/*
font-family: 'Shrikhand', cursive;
*/

:root {
  --branding-color: #f9f7fe;
  --main-color: #2c74b3;
  --btn-color: #144272;
  --heading-font-family: "Roboto Slab", serif;
  --default-font-family: "Solway", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
  font-size: 25px;
  margin: 20px 0 0;
  text-align: center;
  padding-bottom: 25px;
}

p {
  font-family: var(--default-font-family);
  line-height: 1.7;
  text-align: center;
}

img {
  height: auto;
}

footer {
  text-align: center;
}

.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-size: 52px;
  font-weight: bold;
  color: var(--main-color);
}

.hero h2 {
  padding: 52px 0 0;
}

.hero p {
  padding: 30px 20px;
  line-height: 2;
  margin-top: 10px;
  font-size: 19px;
}
.hero a {
  font-family: var(--default-font-family);
}

.section h2 {
  font-size: 40px;
}

.btn-branding {
  background: var(--btn-color);
  border-radius: 4px;
  color: beige;
  font-size: 15px;
  line-height: 27px;
  padding: 15px 30px;
}

.bt-contact {
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  font-size: 15px;
  line-height: 27px;
  padding: 15px 30px;
  margin-bottom: 20px;
  text-decoration: none;
}

.bt-contact:hover {
  background: var(--btn-color);
  color: beige;
}

.mission {
  background-color: #d1d5db;
  padding: 20px;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .hero {
    padding: 80px 20px;
  }
}
